* {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: arial; }

body {
  width: 100%;
  height: 100%; }

.App {
  position: absolute;
  top: 10%;
  left: 30%;
  width: 60%; }
  .App .search-field {
    display: flex;
    flex-direction: flow;
    justify-content: flex-start;
    border: 1px solid black;
    width: 50%;
    height: 40px;
    margin-bottom: 2%; }
    .App .search-field .search-input {
      width: 85%;
      border-right: 2px solid #000001;
      margin-right: 1%; }
      .App .search-field .search-input input {
        width: 98%;
        height: 90%;
        font-size: 150%;
        padding-left: 1%;
        border: none; }
    .App .search-field .button-search {
      width: 15%;
      height: 100%;
      background: url(../images/icons/search.png) no-repeat;
      background-size: 70% 80%;
      background-position: center center;
      cursor: pointer; }
  .App .albumsContainer {
    width: 50%;
    height: 300px;
    position: relative;
    overflow-y: auto; }
    .App .albumsContainer .head .wrap {
      background-color: black;
      color: white;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      .App .albumsContainer .head .wrap .addAlbum {
        background: url(../images/icons/add.png) no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        cursor: pointer;
        border: none;
        padding: 15px;
        margin: 5px; }
    .App .albumsContainer .head .search-field {
      width: auto;
      border: 10px solid black; }
      .App .albumsContainer .head .search-field .search-input {
        border-right: 10px solid #000001;
        width: 90%; }
      .App .albumsContainer .head .search-field .button-search {
        width: 10%; }
    .App .albumsContainer .loading {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #bedcff; }
      .App .albumsContainer .loading .sidebar {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 45%;
        left: 45%;
        background: url(../images/icons/reload.png);
        background-size: 100% 100%;
        background-position: 0% 0%;
        cursor: pointer;
        animation: rotate-load 1s infinite linear; }

@keyframes rotate-load {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .App .albumsContainer .error-loading {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #f0f0f0; }
      .App .albumsContainer .error-loading .text {
        margin-top: 10%;
        font-size: 200%;
        padding: 10px;
        color: red;
        text-align: center; }
    .App .albumsContainer .listAlbum {
      position: relative;
      width: 50%;
      height: 300px; }
      .App .albumsContainer .listAlbum .album {
        width: 100%;
        border-bottom: 1px solid #8c5a00; }
        .App .albumsContainer .listAlbum .album .basic-information {
          display: flex;
          flex-direction: flow;
          justify-content: space-between;
          padding: 10px 5px;
          background-color: #ffc400;
          font-weight: bolder; }
          .App .albumsContainer .listAlbum .album .basic-information .name {
            margin-right: 10px; }
          .App .albumsContainer .listAlbum .album .basic-information .buttons-block {
            display: flex;
            flex-direction: flow;
            justify-content: flex-start; }
            .App .albumsContainer .listAlbum .album .basic-information .buttons-block button {
              padding: 10px;
              margin-right: 5px;
              border: none; }
            .App .albumsContainer .listAlbum .album .basic-information .buttons-block .show-details {
              background: url(../images/icons/right.png) no-repeat;
              transform: rotate(180deg);
              background-size: 100% 100%;
              background-position: center center;
              cursor: pointer; }
              .App .albumsContainer .listAlbum .album .basic-information .buttons-block .show-details.complete {
                transform: rotate(-90deg); }
            .App .albumsContainer .listAlbum .album .basic-information .buttons-block .add-album {
              background: url(../images/icons/checkAdd.png) no-repeat;
              background-size: 100% 100%;
              background-position: center center;
              cursor: pointer; }
              .App .albumsContainer .listAlbum .album .basic-information .buttons-block .add-album.complete {
                background: url(../images/icons/checkAdded.png) no-repeat; }
            .App .albumsContainer .listAlbum .album .basic-information .buttons-block .delete-album {
              background: url(../images/icons/cross.png) no-repeat;
              background-size: 100% 100%;
              background-position: center center;
              cursor: pointer; }
        .App .albumsContainer .listAlbum .album .detals {
          background-color: white; }
          .App .albumsContainer .listAlbum .album .detals ul {
            padding: 10px 5px;
            list-style: none; }
            .App .albumsContainer .listAlbum .album .detals ul li {
              padding-bottom: 5px; }
              .App .albumsContainer .listAlbum .album .detals ul li span:first-child {
                font-weight: bolder; }
              .App .albumsContainer .listAlbum .album .detals ul li:last-child {
                border: none; }

/*# sourceMappingURL=style.css.map*/